* {
  margin: 0;
  padding: 0;
}
.top {
  display: grid;
  grid-template-columns: 100%;
  grid-template-columns:190px 20% 50% 20% 250px;
}
header.top img {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  align-self: center;
  margin: 0 20px 0 10px;
}
.left {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  align-self: center;
}
.left ul {
  list-style: none;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.right {
  grid-row: 1 / span 1;
  grid-column: 4 / span 1;
}
