* {
  margin: 0;
  padding: 0;
}
input {
  cursor: pointer;
}
.top {
  display: grid;
  grid-template-rows: 100%;
  position: fixed;
  grid-template-columns:190px auto auto auto 190px;
}
header.top {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #E8ECF2;
  width: 100%;
}
header.top img {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  align-self: center;
  margin: 0 20px 0 10px;
}
a{
  text-decoration: none;
  color: grey;
  margin-right: 10px;
}
.left {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  align-self: center;
  margin: 0 20px 0 30px;
  text-align: left;
}
.right {
  grid-row: 1 / span 1;
  grid-column: 4 / span 1;
  align-self: center;
  margin: 0 30px 0 20px;
  text-align: right;
}
.button {
  grid-row: 1 / span 1;
  grid-column: 5 / span 1;
  align-self: center;
}
.button a {
    text-align: right;
}
nav.button input {
  margin: 0;
  border: 1px solid black;
  padding: 10px 20px 10px 20px;
  margin-left: -20px;

}
#left {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  position: relative;
  background-color: #008DF6;
  color: white;
}
#right {
  border-left: none;
  background-color: white;
}
#middle {
  border-radius: 5px;
  background-color: #008DF6;
  margin: 0 auto;
  color: white
}
.banner h1 {
  background-color: #E8ECF2;
  text-align: center;
  padding: 50px;
  font-size: 2.625em;
  line-height: 1.1;
  font-weight: 300;
  font-family: adelle-sans,"Helvetica Neue",Arial,sans-serif;
  grid-row: 1 / span 1;
  grid-column: 1 / span 4;
  margin-top: 80px;
}
.banner {
  width: 100%;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
section.task {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  background-color: #404756;
  border-right: solid 1px black;
  text-align: center;
}
section.team {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  background-color: #404756;
  border-right: solid 1px black;
  text-align: center;
}
section.time {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  background-color: #404756;
  border-right: 1px solid black;
  text-align: center;
}
section.Inovoicing {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
  background-color: #404756;
  border-right: 1px solid black;
  text-align: center;
}
article.banner section img {
  height: 160px;
  margin: 30px 0 30px 0;
}
article.banner section h2 {
  color: white;
  margin-bottom: 20px;
}
article.banner section p {
  color: #E8ECF2;
  margin-bottom: 20px;
  padding-bottom: 35px;
}

main header p {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-top: 1em;
  font-size: 1.5em;
  text-align: center;
}
main {
  padding-top: 24px;
  background-color: #E8ECF2;
}
main header button a {

}
/*section.time img {
  margin-top: -9px;
}
section.Inovoicing img {
  margin-top : 8px;
}*/
